<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nishule user management system">
  <meta name="author" content="Matayo Ayo">
  <link rel="canonical" href="https://kiduka.com">

  <link rel="apple-touch-icon" sizes="180x180" href="icons/logo.png">
  <link rel="icon" type="image/png" href="icons/favicon.ico">

  <link href="styles/style.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="js/theme.js" type="text/javascript"></script>
  <script src="js/apexcharts.js"></script>

  <title>kiduka - dashboard</title>

  <script>
    document.addEventListener('DOMContentLoaded', function () {

      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    });
  </script>

</head>

<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200">
<nav class="z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 fixed top-0">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 text-gray-600 rounded cursor-pointer lg:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg>
                    <svg id="toggleSidebarMobileClose" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <a href="index.html" class="flex">
                    <img src="icons/logo.png" id="logo" class="h-12 w-h-12 mr-3" alt="logo">
                    <span class="self-center text-3xl font-bold whitespace-nowrap text-gray-700 dark:text-gray-200">kiduka</span>
                </a>
            </div>
            <div class="flex items-center">
                <!-- search btn works with -->
                <button id="toggleSidebarMobileSearch" type="button" class="hidden p-2 text-gray-500 rounded-lg lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></button>

                <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 animate-pulse" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5 animate-pulse" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                </button>

                <!-- User profile -->
                <div>
                    <button type="button" data-dropdown-toggle="apps-dropdown" class="p-2 text-gray-500 rounded-lg sm:flex hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                        <img src="icons/logo.png" alt="user" class="w-9 h-9 rounded-full ring-4 ring-gray-600 dark:ring-gray-500 p-1" srcset="">
                    </button>
                    <div class="z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:bg-gray-700 dark:divide-gray-600"
                        id="apps-dropdown">
                        <div class="block px-4 py-2 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            Matayo Ayo
                        </div>
                        <div class="grid grid-cols-3 gap-2 p-4">

                            <a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600">
                                <svg class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 2C2.447 2 2 2.447 2 3V17C2 17.553 2.447 18 3 18C3.553 18 4 17.553 4 17V12H15.5C16.328 12 17 11.328 17 10.5V3.5C17 2.672 16.328 2 15.5 2H3Z"></path>
                                </svg>
                                <div class="text-sm font-medium text-gray-900 dark:text-white">Language</div>
                            </a>

                            <a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600">
                                <svg class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" clip-rule="evenodd"></path>
                                </svg>
                                <div class="text-sm font-medium text-gray-900 dark:text-white">Notification</div>
                            </a>

                            <a href="#" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600">
                                <svg class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                    </path>
                                </svg>
                                <div class="text-sm font-medium text-gray-900 dark:text-white">Dependant(s)</div>
                            </a>

                            <a href="/profile" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600">
                                <svg class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
                                </svg>
                                <div class="text-sm font-medium text-gray-900 dark:text-white">Profile</div>
                            </a>

                            <a href="login.html" class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600">
                                <svg class="mx-auto mb-1 font-bold text-red-600 dark:text-red-500 w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                                </svg>
                                <div class="text-sm font-bold text-red-600 dark:text-red-500">Sign out</div>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>
<div class="flex pt-16 overflow-hidden">
    <aside id="sidebar" class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width" aria-label="Sidebar">
        <div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
                <div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                    <ul class="pb-2 space-y-2">

                            <li>
                            <a href="index.html" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-style" viewBox="0 0 16 16">
                                    <path d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4-4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                <span class="ml-3 capitalize" sidebar-toggle-item>Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="products.html" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                                </svg>
                                <span class="ml-3 capitalize" sidebar-toggle-item>products</span>
                            </a>
                        </li>

                        <li>
                            <a href="orders.html" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                                </svg>
                                <span class="ml-3 capitalize" sidebar-toggle-item>orders</span>
                            </a>
                        </li>

                        <li>
                            <a href="sales.html" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
                                    <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
                                    <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
                                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
                                </svg>
                                <span class="ml-3 capitalize" sidebar-toggle-item>sales</span>
                            </a>
                        </li>

                        <li>
                            <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700" aria-controls="dropdown-chats" data-collapse-toggle="dropdown-chats">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-quote" viewBox="0 0 16 16">
                                     <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                     <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
                                 </svg>
                                <span class="flex-1 ml-3 text-left whitespace-nowrap capitalize" sidebar-toggle-item>chats</span>
                                <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <ul id="dropdown-chats" class="hidden py-2 space-y-2">
                                <li><a href="inbox.html" class="flex items-center p-1 text-sm rounded-lg pl-11 group hover:bg-gray-100 dark:hover:bg-gray-700 capitalize">inbox</a></li>
                                <li><a href="feedback.html" class="flex items-center p-1 text-sm rounded-lg pl-11 group hover:bg-gray-100 dark:hover:bg-gray-700 capitalize">feedback</a></li>
                             </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </aside>

    <div class="fixed inset-0 z-10 hidden" id="sidebarBackdrop"></div>
    <main id="main-content" class="relative w-full h-full overflow-y-auto lg:ml-64">
        <div class="px-4 pt-6 pb-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
                <div class="bg-gray-50 rounded-lg sm:flex dark:bg-gray-800 border border-gray-200 dark:border-gray-700 py-2 px-2 mx-2 my-2 md:m-3">
                    <div class="w-full">
                        <h5 class="md:text-3xl text-2xl font-semibold capitalize">users</h5>
                        <div class="flex items-center justify-between w-full mt-10">
                            <div class="p-3"><h3 class="md:text-4xl text-lg">284 <span class="text-sm text-gray-400">buyers</span></h3></div>
                            <div class="p-3"><span class="md:text-4xl text-lg">24 <span class="text-sm text-gray-400">followers</span></span></div>
                        </div>
                    </div>
                </div>
            
                <div class="bg-gray-50 rounded-lg sm:flex dark:bg-gray-800 border border-gray-200 dark:border-gray-700 py-2 px-2 mx-2 my-2 md:m-3">
                    <div class="w-full">
                        <h5 class="md:text-3xl text-2xl font-semibold capitalize">orders</h5>
                        <div class="flex items-center justify-between w-full mt-10">
                            <div class="p-3"><h3 class="md:text-4xl text-lg">0 <span class="text-sm text-gray-400">pending</span></h3></div>
                            <div class="p-3"><span class="md:text-4xl text-lg">24 <span class="text-sm text-gray-400">intransit</span></span></div>
                        </div>
                    </div>
                </div>
            
                <div class="bg-gray-50 rounded-lg sm:flex dark:bg-gray-800 border border-gray-200 dark:border-gray-700 py-2 px-2 mx-2 my-2 md:m-3">
                    <div class="w-full">
                        <h5 class="md:text-3xl text-2xl font-semibold capitalize truncate">engagement</h5>
                        <div class="flex items-center justify-between w-full mt-10">
                            <div class="p-3"><h3 class="md:text-4xl text-lg">82 <span class="text-sm text-gray-400">saved</span></h3></div>
                            <div class="p-3"><span class="md:text-4xl text-lg">19 <span class="text-sm text-gray-400">wishlisted</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 mb-4">
            
                <div class="rounded-lg sm:flex dark:bg-gray-800 border border-gray-200 bg-gray-50 dark:border-gray-700 py-2 px-2 mx-2 my-2 md:m-3">
                    <div class="w-full">
                        <h5 class="md:text-2xl text-xl font-semibold capitalize mb-3">hot sales</h5>
                        <div class="overflow-hidden">
                            <table class="w-full text-left capitalize">
                                <thead class="font-semibold uppercase bg-gray-50 dark:bg-gray-700">
                                    <tr>
                                        <th class="py-2 px-2">item</th>
                                        <th class="py-2 px-6 text-right">sales</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
            
                        <div class="overflow-y-auto h-80 md:h-[28rem]">
                            <table class="w-full text-left capitalize">
                                <tbody>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">562</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">52</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">698</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">2</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">998</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">10256</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-4 py-2 text-xs text-right">359665</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
                <div class="col-span-full xl:col-span-2">
                    <div class="bg-gray-50 rounded-lg sm:flex dark:bg-gray-800 border border-gray-200 dark:border-gray-700 py-2 px-2 mx-2 my-2 md:m-3">
                        <div class="w-full">
                            <h5 class="md:text-2xl text-xl font-semibold capitalize mb-3 text-gray-800 dark:text-gray-200">store reach</h5>
                            <div id="storeReach" class="text-gray-800"></div>
                        </div>
                    </div>
                </div>
            
                <div class="rounded-lg sm:flex dark:bg-gray-800 border border-gray-200 bg-gray-50 dark:border-gray-700 py-2 px-2 mx-2 my-2 md:m-3">
                    <div class="w-full">
                        <h5 class="md:text-2xl text-xl font-semibold capitalize mb-3">low stock</h5>
                        <div class="overflow-hidden">
                            <table class="w-full text-left capitalize">
                                <thead class="font-semibold uppercase bg-gray-50 dark:bg-gray-700">
                                    <tr>
                                        <th class="py-2 px-2">item</th>
                                        <th class="py-2 px-2 text-center">category</th>
                                        <th class="py-2 px-2 text-right">count</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
            
                        <div class="overflow-y-auto h-80 md:h-[28rem]">
                            <table class="w-full text-left capitalize">
                                <tbody>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">562</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">52</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">698</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">2</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">998</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">10256</td>
                                    </tr>
                                    <tr class="border-b dark:border-b-gray-400">
                                        <td class="truncate px-2 py-2 text-xs">viatu</td>
                                        <td class="truncate px-2 py-2 text-xs text-center">72</td>
                                        <td class="truncate px-2 py-2 text-xs text-right">359665</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="relative overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-700 mx-2 md:mx-4 bg-gray-50 dark:bg-gray-800 my-2">
                    <h1 class="text-xl font-bold p-3">Pending requests</h1>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-nowrap whitespace-nowrap capitalize">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-300">
                            <tr>
                                <th scope="col" class="px-6 py-3">order</th>
                                <th scope="col" class="px-6 py-3">customer</th>
                                <th scope="col" class="px-6 py-3">destination</th>
                                <th scope="col" class="px-6 py-3">shiping</th>
                                <th scope="col" class="px-6 py-3">comment</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="#">6203534805</a></th>
                                <td class="px-6 py-4">matayo ayo</td>
                                <td class="px-6 py-4">dodoma</td>
                                <td class="px-6 py-4">DHL</td>
                                <td class="px-6 py-4">instock</td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="#">6203534967</a></th>
                                <td class="px-6 py-4">matayo ayo</td>
                                <td class="px-6 py-4">dar es salaam</td>
                                <td class="px-6 py-4">bus office</td>
                                <td class="px-6 py-4">no stock</td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="#">6203534152</a></th>
                                <td class="px-6 py-4">matayo ayo</td>
                                <td class="px-6 py-4">morogoro</td>
                                <td class="px-6 py-4">FexEd</td>
                                <td class="px-6 py-4">low stock</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
                <div class="relative overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-700 mx-2 md:mx-4 bg-gray-50 dark:bg-gray-800 my-2">
                    <h1 class="text-xl font-bold p-3">On the go orders</h1>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-nowrap whitespace-nowrap capitalize">
                        <thead class="text-xs uppercase bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300">
                            <tr>
                                <th scope="col" class="px-6 py-3">order</th>
                                <th scope="col" class="px-6 py-3">customer</th>
                                <th scope="col" class="px-6 py-3">destination</th>
                                <th scope="col" class="px-6 py-3">shiping</th>
                                <th scope="col" class="px-6 py-3">step</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="#">6203534805</a></th>
                                <td class="px-6 py-4">matayo ayo</td>
                                <td class="px-6 py-4">dodoma</td>
                                <td class="px-6 py-4">DHL</td>
                                <td class="px-6 py-4">in transit</td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="#">6203534967</a></th>
                                <td class="px-6 py-4">matayo ayo</td>
                                <td class="px-6 py-4">dar es salaam</td>
                                <td class="px-6 py-4">bus office</td>
                                <td class="px-6 py-4">processing</td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a href="#">6203534152</a></th>
                                <td class="px-6 py-4">matayo ayo</td>
                                <td class="px-6 py-4">morogoro</td>
                                <td class="px-6 py-4">FexEd</td>
                                <td class="px-6 py-4">pickup point</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <script type="text/javascript">
                // users counts in a regions
                var storeReach = {
                    chart: {
                        type: 'treemap'
                    },
                    dataLabels: {
                        enabled: true
                    },
                    plotOptions: {
                        treemap: {
                            distributed: true
                        }
                    },
                    series: [
                        {
                            data: [
                                {
                                    x: "Dodoma",
                                    y: 218,
                                },
                                {
                                    x: "Morogoro",
                                    y: 149,
                                },
                                {
                                    x: "Dae Es Salaam",
                                    y: 184,
                                },
                                {
                                    x: "Tanga",
                                    y: 55,
                                },
                                {
                                    x: "Mbeya",
                                    y: 84,
                                },
                                {
                                    x: "Lindi",
                                    y: 31,
                                },
                                {
                                    x: "Arusha",
                                    y: 70,
                                },
                                {
                                    x: "Mbeya",
                                    y: 170,
                                }
                            ],
                        },
                    ]
                }
                var chart = new ApexCharts(document.querySelector("#storeReach"), storeReach);
                chart.render();
            </script>
            
        </div>
    </main>
</div>
</body>

<script src="js/flowbite.js" type="text/javascript"></script>
<script src="js/github-btn.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>