
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nishule user management system">
  <meta name="author" content="Matayo Ayo">
  <link rel="canonical" href="https://kiduka.com">

  <link rel="apple-touch-icon" sizes="180x180" href="icons/logo.png">
  <link rel="icon" type="image/png" href="icons/favicon.ico">

  <link href="styles/style.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="js/theme.js" type="text/javascript"></script>
  <script src="js/apexcharts.js"></script>

  <title>kiduka - login</title>

  <script>
    document.addEventListener('DOMContentLoaded', function () {

      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    });
  </script>

</head>

<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200">
  <div class="min-h-screen flex items-center justify-center px-2">
  
      <div class="w-full max-w-lg space-y-8 sm:p-8">
          <div class="text-center">
              <img src="icons/logo.png" alt="" class="mx-auto w-20 md:w-32 h-20 md:h-32">
          </div>
  
          <form class="p-8 bg-gray-100 rounded-lg dark:bg-gray-800 space-y-8" method="post" action="/login">
  
              <h2 class="text-2xl md:text-3xl font-bold text-center">Welcome back</h2>
  
              
                  <p class="text-sm font-semibold text-center capitalize mb-5">seller account</p>
              
  
              <div>
                  <label for="email" class="block mb-2 font-medium capitalize">email</label>
                  <input type="email" name="email" id="email" placeholder="username@domain.end" class="px-4 py-1 bg-white dark:bg-gray-700 rounded-md w-full" required>
              </div>
              <div>
                  <label for="password" class="block mb-2 font-medium capitalize">Password</label>
                  <input type="password" name="password" id="password" placeholder="••••••••" class="px-4 py-1 bg-white dark:bg-gray-700 rounded-md w-full" required>
              </div>
              <input type="hidden" name="reqId" value="EzsrggKn-GAnBIuEwsyz9wcj-BMcScRWaJzg">
              <button type="submit" class="w-full px-5 py-3 font-bold bg-white dark:bg-gray-900 text-center text-gray-800 dark:text-gray-200 rounded-lg sm:w-auto capitalize">
                  Login
              </button>
              <div class="h-1 bg-gray-300 dark:bg-gray-600"></div>
              <div class="flex justify-between">
                  <a href="recovery.html" class="text-xs italic text-gray-800 dark:text-gray-400 hover:underline capitalize">need help?</a>
                  <a href="register.html" class="text-xs italic text-gray-800 dark:text-gray-400 hover:underline capitalize">register</a>
              </div>
          </form>
      </div>
  </div>
</body>

<script src="js/flowbite.js" type="text/javascript"></script>
<script src="js/github-btn.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>